---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-{{ var_namespace }}{{ var_type }}{{ var_count }}v-boot
  namespace: {{ var_namespace }}
spec:
  accessModes:
    - ReadWriteMany
  volumeMode: {{ var_volumemode }}
  resources:
    requests:
      storage: 60Gi
  storageClassName: {{ var_storageclass }}
  dataSource:
    kind: PersistentVolumeClaim
    name: pvc-tmp-rhel810-{{ var_purpose }}-{{ var_type }}-boot
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-{{ var_namespace }}{{ var_type }}{{ var_count }}v-data
  namespace: {{ var_namespace }}
spec:
  accessModes:
    - ReadWriteMany
  volumeMode: {{ var_volumemode }}
  resources:
    requests:
      storage: 70Gi
  storageClassName: {{ var_storageclass }}
  dataSource:
    kind: PersistentVolumeClaim
    name: pvc-tmp-rhel810-{{ var_purpose }}-{{ var_type }}-data
---
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  generation: 2
  labels:
    kubevirt.io/os: linux
  name: {{ var_namespace }}{{ var_type }}{{ var_count }}v
  namespace: {{ var_namespace }}
spec:
  running: true
  template:
    metadata:
      labels:
        kubevirt.io/domain: '{{ var_namespace }}{{ var_type }}{{ var_count }}v'
    spec:
      domain:
        cpu:
          cores: 2
        devices:
          disks:
          - disk:
              bus: scsi
            name: disk0
          - disk:
              bus: scsi
            name: cloudinitvolume
          - disk:
              bus: scsi
            name: disk1
          interfaces:
            - bridge: {}
              model: virtio
              name: service-network
        machine:
          type: q35
        resources:
          requests:
            memory: 4096M
      networks:
        - multus:
            networkName: default/{{ var_network }}
          name: service-network
      nodeSelector:
        node-role.kubernetes.io/worker: ''
      volumes:
      - name: disk0
        persistentVolumeClaim:
          claimName: pvc-{{ var_namespace }}{{ var_type }}{{ var_count }}v-boot
      - name: cloudinitvolume
        cloudInitNoCloud:
          userData: |-
            #cloud-config
            ssh_pwauth: true
            disable_root: false
            chpasswd:
              list: |
                root:dlatl00
              expire: false
          networkData: |
            version: 2
            ethernets:
              enp1s0:
                addresses:
                - '{{ var_ipaddr }}/24'
                gateway4: {{ var_gw }}
                nameservers:
                  addresses: [172.30.111.100]
      - name: disk1
        persistentVolumeClaim:
          claimName: pvc-{{ var_namespace }}{{ var_type }}{{ var_count }}v-data
